#fake, .highcharts-container, #kbd {
	display: inline-block;
}

#fake {
	position: relative;
	overflow: hidden;
	/*cursor: url('./cursort.png'), auto;*/
}

.kbd {
	width: 550px;
}

.kbd div {
	position: relative;
}

.lk {
    outline-offset: -2px;
    outline: 1px solid black;		
	text-align: center;
	display: inline-block;
	width: 50px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	background-color: white;
	z-index: -1;
}

.sp {
	text-align: center;
	display: inline-block;
	width: 25px;
	height: 40px;
	line-height: 40px;
	margin: 0 !important;
	box-sizing: border-box;
	background-color: white;
	z-index: 1;
}

.spac {
	width: 250px;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
}
